main{
    margin-top: 80px;
    width: 100%;
    /* min-height: 200vh; */
    
}
.eventTotalWrap{
    /* border: 2px solid red; */
    position: relative;
    height: auto;
    min-height: 500px;
}

.eventWrap{
    box-sizing: border-box;
    height: 150px;
    /* border: 2px solid red; */
    width: 1150px;
    margin: 0 auto;
}
.eventWrap h4 {
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.eventMenuWrap{
    align-items: center;
    height: 60px;
    display: flex;
}
.eventMenu {
    /* border: 2px solid royalblue; */
    width: 650px;
}
.eventMenu ul{
    /* border: 2px solid rgb(174, 209, 20); */

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.eventMenu ul a {
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.eventSmallMenu{
    /* border: 2px solid darkgoldenrod; */
    width: 500px;
}

.eventSmallMenu ul {
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;

}

.eventSmallMenu ul li {
    margin-left: 10px;
    width: 85px;
    background-color: red;
}

.eventSmallMenu a{
    font-weight: bold;
    font-size: 13.5px;
    color: white;
}





.eventContentsWrap{
    height: 100% !important;
    display: flex;
    
}
.eventMainSection {
    /* border: 2px solid red; */
    margin: 0 auto;
    width: 1150px;
    overflow: hidden;
    height: 600px;

}

#section{
    /* border: 2px solid red; */
    width: 100%;
}
#section a {
    color: black;
}
#section h4, p{
    
    font-size: 17px;
    padding: 8px;
}

.eventSideSection {
    height: 650px;
text-align: right;
    width: 190px;

}

.advBanner1 {    

    width: 100%;
    height: 270px;
}
.advBanner2{    

    height: 50px;
    width: 100%;
}
.eventImgSection ul{
    /* border: 2px solid rgb(55, 0, 255); */

    width: 940px;
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    
}
.eventImgSection li{   
    /* border: 2px solid rgb(12, 233, 130); */

border: 1px solid gray;
    width: 310px;
    height: 290px;

}

.eventImgSection img {
    /* border: 2px solid rgb(12, 233, 130); */

    width: 100%;
    height: 180px
}
.moreEventBtn{
    background-color: rgba(128, 128, 128, 0.185);
    cursor: pointer;
    font-size: 20px;
    border: none;
    position: absolute;
    width: 973px;
    height: 50px;
}
.moreEventBtn:active {
    border: 1px solid gray;
}


/* .eventAdv{
    z-index: 999999;
    width: 1150px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
} */